USE [scrumify]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[Id] [uniqueidentifier] NOT NULL,
	[OuterId] [nvarchar](50) NOT NULL,
	[TeamId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[user] ([Id], [OuterId], [TeamId], [Name]) VALUES (N'00000000-0000-0000-0000-000000000000', N'1', N'00000000-0000-0000-0000-000000000000', N'TestUser')
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [UQ_OuterId_And_TeamId] UNIQUE NONCLUSTERED 
(
	[OuterId] ASC,
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
